* {
    box-sizing: border-box;
}

/*Website CSS*/

body{
    margin: 0;
    font-family: sans-serif;
    background-color: #cccccc;
}

header{
    background-color: #120323;
    color: #97bf04;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

nav ul li{
    padding: 2rem;
    display: inline;
    list-style-type: none;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

figure {
    background-color: white;
    padding: 1rem;
    max-width: 100%;
}

figure img{
    border-bottom: 10px solid #97bf04;
    width: 100%;
    max-width: 650px auto;
    justify-content: center;
    align-items: center;
}

nav, footer{
    background-color: #d9043d;
}

footer{
    font-size: small;
    text-align: center;
    color: white;
}

/*Media Query-Desktop*/
@media screen and (min-width: 1000px){
    #gallery-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    figure:last-child{
        grid-column: span 2;
    }
}

/*Media Query-Tablet*/
@media screen and (max-width: 1000px){
    #gallery-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
    }
    figure:last-child{
        grid-column: span 2;
    }
}
